<footer class="site-footer{% if footer_floating %} site-footer--floating{% endif %}">
    <div class="site-footer__inner">
        <div>
            Developed by
            {% if footer_author == 'ycy' %}
            <a href="https://github.com/YCY5449" target="_blank" rel="noopener">YCY5449</a>
            {% else %}
            <a href="https://github.com/zihanpeter" target="_blank" rel="noopener">zihanpeter</a>
            {% endif %}
        </div>
        <div>2024 &ndash; 2026 &copy; Subsystem Dev Team.</div>
        <div>All rights reserved.</div>
    </div>
</footer>
