{% extends 'base.html' %}
{% set active_nav = 'yule' %}
{% set footer_author = 'ycy' %}

{% block title %}Yule - Subsystem{% endblock %}

{% block content %}
<div class="stack">
    <div class="page-head">
        <div>
            <span class="page-head__eyebrow">Yule</span>
            <h1>Games</h1>
            <p class="page-head__sub">A project before Christmas: a small arcade of browser games built
                for Subsystem.</p>
        </div>
        <div class="page-head__actions">
            <a class="btn btn--ghost" href="/articles?id=0df4c672-b375-11ef-bf2b-57fb35f9416a">Feedback centre</a>
        </div>
    </div>

    <div class="table-wrap">
        <table>
            <thead>
                <tr>
                    <th scope="col">Game</th>
                    <th scope="col">Hot</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for i in t_dics %}
                <tr>
                    <th scope="row"><a href="/intro?name={{ i['name'] }}">{{ i['name'] }}</a></th>
                    <td class="num">{{ i['hot'] }}</td>
                    <td><a href="/profile?username={{ i['creator'] }}">{{ i['creator'] }}</a></td>
                    <td class="num">{{ i['timef'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if not t_dics %}
        <p class="table-empty">No games published yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
