<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario Game</title>
    {% include 'partials/favicon.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yule/mario.css') }}">
    <link href="{{ url_for('static', filename='css/white_theme_yule.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tokens.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
</head>
<body>
    {% include 'partials/game_header.html' %}
    <div class="game-container">
        <div class="score">Score: <span id="score">0</span></div>
        <canvas id="gameCanvas" width="800" height="400"></canvas>
    </div>
    {% include 'partials/game_footer.html' %}
    <script src="{{ url_for('static', filename='javascript/yule/mario.js') }}"></script>
</body>
</html> 