<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Shooter</title>
    {% include 'partials/favicon.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yule/planeWars.css') }}">
    <link href="{{ url_for('static', filename='css/white_theme_yule.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/black_theme.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tokens.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
</head>
<body>
    {% include 'partials/game_header.html' %}
    <div id="gameContainer">
        <canvas id="gameCanvas" width="600" height="600"></canvas>
        <div id="score">Score: <span id="scoreValue">0</span></div>
        <div id="healthContainer">
            <div id="healthBar"></div>
        </div>
        <div id="gameOver">
            Game Over!<br>
            Press SPACE to restart
        </div>
    </div>
    {% include 'partials/game_footer.html' %}
    <script src="{{ url_for('static', filename='javascript/yule/planeWars.js') }}"></script>
</body>
</html>